@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Properties.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HSMS.Default.PropertiesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>