@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Bookings.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HSMS.Default.BookingsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>